.header__top {
    position: relative;
    padding-top: 35px;
    padding-bottom: 17px;

    &::before,
    &::after {
        display: none;
        content: "";
        position: absolute;
        top: 26px;
        width: 548px;
        background-color: #2f2c34;

        @media (min-width: 1200px) {
            display: block;
        }
    }


    &::before {
        left: 8%;
        height: 1px;
        width: 548px;
        background-color: #2f2c34;
    }

    &::after {
        right: 8%;
        height: 1px;

    }
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (min-width: 1200px) {
        justify-content: space-between;
    }

    &__phone {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
    }



    &__logo {
        margin-top: -15px;
    }

    &__btns {
        display: none;

        button+button {
            margin-left: 25px;
        }

        @media (min-width: 1200px) {
            display: block;
        }
    }

}


.header__nav {
    display: flex;
}

.header__bottom {
    display: none;
    background: rgb(47, 44, 52);
    background: linear-gradient(90deg, rgba(47, 44, 52, 1) 0%, rgba(70, 61, 64, 1) 35%);
    font-family: "Romul", serif;
    color: #ffffff;
    text-transform: uppercase;
    padding: 23px 0;

    @media (min-width: 1200px) {
        display: block;
    }


    .bottom-nav {
        justify-content: space-evenly;

        .nav__item {
            display: block;
            width: 20%;
            text-align: center;

            &:not(:last-child) {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 15px;
                    background-color: #ffffff;
                }
            }
        }
    }
}